@charset "utf-8";
/* Medios fluidos sencillos
   Nota: Los medios fluidos exigen la eliminación de los atributos de altura y anchura de los medios del código HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
	margin-top: -8px;
	margin-right: 4px;
}
/* IE 6 no admite max-width (anchura máxima), por lo que usa de manera predeterminada una anchura del 100% */
.ie6 img {
	width:100%;
}


/*
	Propiedades de cuadrícula fluida de Dreamweaver
	----------------------------------
	dw-num-cols-mobile:		6;
	dw-num-cols-tablet:		10;
	dw-num-cols-desktop:	16;
	dw-gutter-percentage:	25;
	
	Inspiración obtenida de "Responsive Web Design" de Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	y Golden Grid System de Joni Korpi
	http://goldengridsystem.com/
*/

/* Diseño móvil: 480 px e inferior. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 94.7333%;
	padding-left: 1.6333%;
	padding-right: 1.6333%;
	margin-top: 1.6%;
        font-family: "Myriad Pro";
        
	
}
#agefl{
	max-width: 100%;
	margin: -10%;
}

#Layoutbanner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Layoutmenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #FC7323;
}
#Layoutsubmenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: right;
	background-color: #BCBCBC;
}
#Layoutmenuver {
	clear: both;
	float: left;
	margin-left: 0;
	width: 13.7931%;
	display: block;
	margin-top: 1.6%;
}
#Layoutcontenido {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	width: 82.7586%;
	display: block;
	margin-top: 1.6%;
}
#Layoutpieprincipal {
	clear: both;
	float: left;
	margin-left: 0;
        margin-top: 1%;
	width: 100%;
	display: block;
	background-color: #000;
}
#Layoutpie1 {
	clear: both;
	float: left;
	margin-left: 0px;
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: 0.1%;
	background-color: #EBEBEB;
}
#Layoutpie2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Layoutpie3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 50%;
	display: block;
	background-color: #EBEBEB;
}
#Layoutpie4 {
	clear: none;
	float: left;
	margin-left: 0%;
	width: 50%;
	display: block;
	text-align: right;
	background-color: #EBEBEB;
}
/*#Layoutlogo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 13.7931%;
	display: block;
}*/
#logo {
	position: absolute;
	width: 15%;
	height: 15%;
	z-index: 1;
}

#LayoutTitulo_Seg_Ap_prod {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
        font-family: "Myriad Pro";
	background-color: #fc7323;
	text-align: justify;
	margin-top: 2%;
	color: #FFF;
        text-align: center;
        font-size: 11px;
}
#Layoutimg_seg_ap_prod {
	clear: both;
	float: left;
        margin-top: 4%;
	margin-left: 0;
	width: 100%;
	display: block;
}
#LayoutContenidomod_seg_ap_prod {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
        font-family: "Myriad Pro";
	font-size: 14px;
	text-align: justify;
	margin-top: 2%;
	color: #FFF;
	background-color: #238276;}
#Layoutconsul_seg_ap1
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}
#Layoutform_seg_ap
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}
#Layouttweet
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}
#Layoutimg_consul
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}
#Layoutcont_cont
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}
#Layoutimg_consul2
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}

/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 96.04%;
	padding-left: 0.98%;
	padding-right: 0.98%;
	margin-top: 1.6%;
}
#agefl{
	max-width: 100%;
	margin: -10%;
}
#Layoutbanner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Layoutmenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #FC7323;
}
#Layoutsubmenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: right;
	background-color: #BCBCBC;
}
#Layoutmenuver {
	clear: both;
	float: left;
	margin-left: 0;
	width: 8.1632%;
	display: block;
	margin-top: 1.6%;
}
#Layoutcontenido {
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 89.7959%;
	display: block;
	margin-top: 1.6%;
}
#Layoutpieprincipal {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
        margin-top: 1%;
}
#Layoutpie1 {
	clear: both;
	float: left;
	margin-left: 0px;
	width: 100%;
	display: block;
	background-color: #EBEBEB;
	margin-bottom: 0.1%;
}
#Layoutpie2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Layoutpie3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 50%;
	display: block;
	background-color: #EBEBEB;
}
#Layoutpie4 {
	clear: none;
	float: left;
	margin-left: 0%;
	width: 50%;
	display: block;
	background-color: #EBEBEB;
}
/*#Layoutlogo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
}*/
#logo {
	position: absolute;
	width: 23%;
	height: 23%;
	z-index: 1;
}

#LayoutTitulo_Seg_Ap_prod {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #fc7323;
	text-align: center;
        color: #FFF;
}
#Layoutimg_seg_ap_prod {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
        margin-top: 2%;
	display: block;
}
#LayoutContenidomod_seg_ap_prod {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-family: "Myriad Pro";
	font-size: 16px;
	background-color: #238276;
	text-align: justify;
	margin-top: 2%;
	color: #FFF;
}
#Layoutconsul_seg_ap1
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}
#Layoutform_seg_ap
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 69.3877%;
	display: block;
        background-color: #DBDBDB;
	margin-top: 1%;
	}
#Layouttweet
{
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
	margin-top: 1%;
	}
#Layoutimg_consul
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 28.5714%;
	display: block;
	}
#Layoutcont_cont
{
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 38.7755%;
	display: block;
	}
#Layoutimg_consul2
{
	clear: none;
	float: left;
	margin-left: 2.0408%;
	width: 28.5714%;
	display: block;
	}

}

/* Diseño escritorio: de 769 px hasta un máximo de 1232 px.  Hereda estilos de: Diseño móvil y Diseño tableta. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 96.775%;
	max-width: 1232px;
	padding-left: 0.6125%;
	padding-right: 0.6125%;
	margin-top: 1.6%;
}
#agefl{
	max-width: 75%;
	margin-top: -14%;
	margin-left: -18%;
}
#Layoutbanner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Layoutmenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #FC7323;
}
#Layoutsubmenu {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: right;
	background-color: #BCBCBC;
}
#Layoutmenuver {
	clear: both;
	float: left;
	margin-left: 0;
	width: 5.0632%;
	display: block;
	margin-top: 1.6%;
}
#Layoutcontenido {
	clear: none;
	float: left;
	margin-left: 1.2658%;
	width: 93.6708%;
	display: block;
}
#Layoutpieprincipal {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
        margin-top: 1%;
}
#Layoutpie1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
	background-color: #EBEBEB;
	margin-bottom: 0.1%;
}
#Layoutpie2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Layoutpie3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 50%;
	display: block;
	text-align: left;
	background-color: #EBEBEB;
}
#Layoutpie4 {
	clear: none;
	float: left;
	width: 50%;
	display: block;
	background-color: #EBEBEB;
	margin-left: 0px;
}
/*#Layoutlogo {
	clear: both;
	float: inherit;
	margin-left: 0;
	width: 30.3797%;
	display: block;
}*/
#logo {
	position: absolute;
	width: 20%;
	height: 20%;
	z-index: 1;
}


#LayoutTitulo_Seg_Ap_prod {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
        color: #fff;
	display: block;
        
}
#Layoutimg_seg_ap_prod {
	clear: both;
	float: left;
	margin-left: 0;
	width: 36.7088%;
        margin-top: 1.7%;
	display: block;
}
#LayoutContenidomod_seg_ap_prod {
	clear: none;
	float: left;
	margin-left: 1%;
	width: 62.1%;
	display: block;
	color: #FFF;
        font-family: "Myriad Pro";
	text-align: justify;
	margin-top: 1%;
        font-size: 18px;
}
#LayoutTitulo_Form_Seg_Ap_Et_Prod
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #fc7322;
	color: #fff;
	text-align: center;
	}
#LayoutForm_Seg_Ap_Et_Prod
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 74.6835%;
	display: block;
	background-color: #FC7323;
	margin-top: 0.5%;
	}
#LayoutFormularios_Seg_Et_Prod
{
	clear: both;
	float: left;
	width: 99%;
	display: block;
	text-align: center;
	background-color: #fff;
	color: #000;
	margin: 0.5%;
	}

#LayoutInformacion_Seg_Ap_Et_Prod
{
	clear: none;
	float: left;
	margin-left: 1.2658%;
	width: 24.0506%;
	display: block;
	margin-top: 1%;
	background-color: #238276;
	text-align: center;
	color: #fff;
	}
        #Layoutconsul_seg_ap1
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 24.0506%;
	display: block;
	}
#Layoutform_seg_ap
{
	clear: none;
	float: left;
	margin-left: 1.2658%;
	width: 55.6962%;
	display: block;
	background-color: #DBDBDB;
	}
#Layouttweet
{
	clear: none;
	float: left;
	margin-left: 1.2658%;
	width: 17.7215%;
	display: block;
	margin-top: 3%;
	}
#Layoutimg_consul
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}
#Layoutcont_cont
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}
#Layoutimg_consul2
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	}
}

#margen{margin:1.6%;
text-align:justify;
}
#titulo{
    color: #fff;
    
}
#IrArriba {
position: fixed;
bottom: 30px; /* Distancia desde abajo */
right: 30px; /* Distancia desde la derecha */
}

#IrArriba span {
width: 60px; /* Ancho del botón */
height: 60px; /* Alto del botón */
display: block;
background: url(http://lh5.googleusercontent.com/-luDGEoQ_WZE/T1Ak-gta5MI/AAAAAAAACPI/ojfEGiaNmGw/s60/flecha-arriba.png) no-repeat center center;
}